<% size_class = small ? 'w-14 h-14 text-2xl' : 'w-24 h-24 text-4xl' %>

<div class="bg-[#f8b9ce] mt-4 p-2 flex justify-center items-center rounded-full text-[#732640] font-bold <%= size_class %>">
  <%= user.name[0] %>
  <%= user.lastname[0] %>
</div>
