<div class="flex justify-between items-center w-full p-2 hover:bg-[#f9f9fb] rounded-xl cursor-pointer transition">
  <div class="flex items-center gap-3">
    <div class="profile-image">
      <%= render "default_avatar", user: current_user, small: true %>
    </div>

    <div class="flex flex-col">
      <h3 class="text-sm text-[#393946] font-bold truncate max-w-[150px]">
        Sarah Johnson
      </h3>
      <p class="text-xs text-gray-500 truncate max-w-[200px]">
        See you tomorrow!
      </p>
    </div>
  </div>

  <div class="flex flex-col relative items-end w-full">
    <%= render "shared/dropdown" do %>
      <li class="flex text-sm font-bold text-red-500  w-30">
        <%= button_to do %>
          <i class="fa-solid fa-trash"></i> Delete
        <% end %>
      </li>
    <% end %>
    <span class="text-xs text-gray-400">2min ago</span>
  </div>
</div>