<div class="main-wrapper">
  <%= render "shared/header_logo" %>

  <div class="form-wrapper">
    <%= render "create_user_form" %>
    <p class="form-link mb-4">
      Already have an account?
      <span class="link">
        <%= link_to "Log in", login_path %>
      </span>
    </p>
  </div>


</div>

