<div class="main-wrapper max-w-[400px] mx-auto">
  <div class="flex items-center my-4 gap-4 justify-start w-full">
    <div class="text-xl text-[#393946] cursor-pointer border-0 bg-transparent">
      <%= link_to do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <h1 class="text-3xl text-[#393946] font-bold">
      Profile
    </h1>

  </div>

  <div class="wrapper flex flex-col p-2">


    <%= render "update_profile" %>

    <hr class="border border-b-gray-400 w-full"/>
    <div class="flex justify-center items-center">

      <%= link_to "Settings", settings_path, class: "bg-gray-500 my-4 w-15 hover:bg-gray-700 text-white font-bold p-3 rounded-xl transition" %>
    </div>
  </div>
</div>

