<div data-controller="dropdown" class="dropdown">
  <button data-action="click->dropdown#toggle" class="text-lg  text-gray-600">
    <i class="fa-solid fa-ellipsis"></i>
  </button>
 

  <ul class="dropdown-menu hidden" data-dropdown-target="dropdown">
    <%= yield %>
  </ul>
</div>
