.flash-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flash {
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    width: 100%;
    max-width: 350px;
    position: fixed;
    z-index: 10000;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 16px 20px -8px rgba(3, 5, 18, 0.10);
    color: #28292A;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    opacity: 90%;

}


.flash.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.notice {
    border: 1px solid #01E17B;
    background: #E5FCF1;
}

.alert {
    border: 1px solid #F04349;
    background: #FDECEC;
}